<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <style>
      .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto 20px auto;
        display: block;
      }
    </style>
  </head>
  <body>
     <div class="wrapper">
      <header>
	<img src="Vesikalık square.jpeg" alt="Orkun İrsoy" class="profile-image" />
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
	<li><a class="button" href="Resume_2025.pdf">Resume</a></li>
	<li><a class="button" href="mailto:oirsoy@andrew.cmu.edu">Contact</a></li>
        </ul>
        {% if site.github.is_user_page %}
        	</ul>
	      
	      
        {% endif %}
      </header>

      <section>
<ul class="nav">
	<li><a href="https://orkunirsoy.github.io/">Home</a></li>
	<li><a href="/Research&Teaching.html">Research</a></li>
	<li><a href="/Teaching.html">Teaching</a></li>
</ul>

	      
       {{ content }}
                
      </section>

      <footer>
      </footer>
     </div>

    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
